<!--<app-servers></app-servers>-->

<!--<hr>-->

<!--<form (ngSubmit)="onSubmit()" #f="ngForm">-->
<!--  <label for="email">Email:</label>-->
<!--  <input class='form-control' type="email" name="email" id="email" ngModel required email #email="ngModel">-->
<!--  <p *ngIf="email.invalid && email.touched">Provide valid email</p>-->

<!--  <label for="subscription">Subscription:</label>-->
<!--  <select  class='form-control' name="subscription" id="subscription" [ngModel]="default" required #subscription="ngModel">-->
<!--    <option *ngFor="let subscription of subscriptions" [value]="subscription">{{subscription}}</option>-->
<!--  </select>-->

<!--  <label for="password">Password</label>-->
<!--  <input type="password" class="form-control" name="password" id="password" ngModel required #password="ngModel">-->
<!--  <p *ngIf="password.invalid && password.touched">Provide a pass</p>-->

<!--  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Send</button>-->
<!--</form>-->

<!--<p *ngIf="f.invalid && f.touched">Please fill in form.</p>-->

<app-reactive-form></app-reactive-form>
