<!--<app-servers></app-servers>-->

<!--<hr>-->

<!--<form (ngSubmit)="onSubmit()" #f="ngForm">-->
<!--  <label for="email">Email:</label>-->
<!--  <input class='form-control' type="email" name="email" id="email" ngModel required email #email="ngModel">-->
<!--  <p *ngIf="email.invalid && email.touched">Provide valid email</p>-->

<!--  <label for="subscription">Subscription:</label>-->
<!--  <select  class='form-control' name="subscription" id="subscription" [ngModel]="default" required #subscription="ngModel">-->
<!--    <option *ngFor="let subscription of subscriptions" [value]="subscription">{{subscription}}</option>-->
<!--  </select>-->

<!--  <label for="password">Password</label>-->
<!--  <input type="password" class="form-control" name="password" id="password" ngModel required #password="ngModel">-->
<!--  <p *ngIf="password.invalid && password.touched">Provide a pass</p>-->

<!--  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Send</button>-->
<!--</form>-->

<!--<p *ngIf="f.invalid && f.touched">Please fill in form.</p>-->

<!--<app-reactive-form></app-reactive-form>-->

<!--<div class="container">-->
<!--  <app-cockpit (serverCreated)="onServerAdded($event)"-->
<!--               (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>-->
<!--  <hr>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <app-server-element *ngFor="let element of serverElements" [element]="element"></app-server-element>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emistopGametted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (generateIntervalEvent)="onGameStarted($event)"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ng-container *ngFor="let counter of counters">
        <app-odd *ngIf="counter%2 !== 0" [counter]="counter"></app-odd>
        <app-even *ngIf="counter%2 === 0" [counter]="counter">{{counter}}</app-even>
      </ng-container>
    </div>
  </div>
</div>

